/* Advanced Forums*/

/* Post text title */
.forum-post-title {
     font-weight: bold;
     border-bottom: 1px solid #cfc7c7;
}
 .forum-post-number a {
     color: #000000 !important;
}
/* Post text area */
 .forum-post-panel-main {
     background-color: #FFFFFF;
     border-left: 1px solid #ACB6BD;
     border-right: 1px solid #ACB6BD;
     border-top: 1px solid #ACB6BD;
     min-height: 0px;
}
/* Post footer */
 .forum-post-footer {
     background-color: #FFFFFF;
     border-top: 1px solid #cfc7c7;
     border-bottom: #cfc7c7;
}
/* Table name and description on forum list and table header on topic list- test */
 .forum-table-wrap .forum-table-superheader, .forum-table-topics thead tr {
     background: #009390;
     color: rgb(24,24,24);
}
/* Table header on forum list and topic list */
 .forum-table thead forum-table-superheadera, .forum-table thead tr a:visited, .forum-table thead tr a:link {
     color: #200303;
     font-weight: bold;
     font-style: oblique
}
/* Individual cells on both tables */
 .forum-table td {
     background-color: #FFFFFF;
     border: 1px solid #d1c5c5;
}

 .forum-table tr.even td.active, .forum-table tr.odd td.active {
     background-color: #FFFFFF;
}


/* BUTTONIZED LINKS - GENERAL ***********************************************/
/* Based on http://css-tricks.com/examples/ButtonMaker*/

 a.af-button-large, a.af-button-large:link, a.af-button-large:visited, a.af-button-small, a.af-button-small:link, a.af-button-small:visited, a.author-pane-link, a.author-pane-link:link, a.author-pane-link:visited {
     color: #fff;
     text-decoration: none;
     background: #676C5F;
     /* border: 1px solid #676C5F;
     display: inline;
     padding: 5px 1px; */
     line-height: 1.2em;
     border-radius: 4px;
}
/* Table name on forum list */
 .forum-table-superheader .forum-table-name, .forum-table-superheader .forum-table-name a {
     font-weight: bold;
     background: transparent;
     color: #fff
}
/* Author panel ofline and online information*/
 .forum-post-panel-sub .author-pane .author-pane-line {
     margin-bottom: 7px;
     font-size: 10px;
}
/* Header at the top of each post */
 .forum-post-info {
     background: #ddd;
     color: #141212;
     font-weight: bold;
     border: 1px solid #cfc7c7;
     text-align: right;
}
/*Forum post border */
 div.forum-post {
     border: 2px solid #cfc7c7;
}
/* Author information pane */
 .forum-post-panel-sub .author-pane .author-name {
     font-weight: bold;
}
 .forum-post-panel-sub .author-pane .picture img {
     border: 1px solid #E9EFF2;
     background-color: #FFFFFF;
     width: 60px;
     height: 60px;
     border-radius: 50%;
     padding: 0px;
     overflow: hidden;
}
 .forum-post-panel-sub .author-pane .author-pane-label {
     font-weight: bold;
}
/* Author post pane*/
 .forum-post-panel-sub {
     float: left;
     line-height: 100%;
     width: 150px;
     background: #f9f9f9;
}

/* Jump to top */
.forum-jump-links .af-button-small span {
  background: url(images/topic_top.png) no-repeat;
  display: none;
}

/* Remove spacing preceding first comment */
.forum-post-content .field-type-text-with-summary {
  clear: none;
  /* replaces clear: both; */
}

.forum-post-wrapper {
   background-color: #FFFFFF;
}

/* Make container description visible */
.forum-table-superheader .forum-table-description {
  color: #fff;
}
